/* body {
    background-color: #f0eeee;
    color: #2b2c36;
  }

.card {
    background-color: #f0eeee;
    color: #2b2c36;
    border: 1px solid #6C63FF;
}

.colorTitulo {
    color: #6C63FF;
    font-weight: bold;
}

#engranaje{
    width: 70%;
    border-radius: 3%;
}

a {
    text-decoration: none;
    color: #222549;
}

a:hover {
    border-radius: 50%;
    background-color: #c1c0c0;
}

/* .barra{
    background-color: #6C63FF;
} */

/*.svg img{
    width: 25px;
    margin: -19px 10px 0px 10px;
}

ul {
    list-style-type: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f0eeee;
    z-index: 999;
  }

  .footer {
    position: fixed;
    top: 91%;
    left: 0;
    width: 100%;
    background: #f0eeee;
    z-index: 999;
  } */