body {
    background-color: #f0eeee;
    color: #2b2c36;
  }

.card {
    background-color: #f0eeee;
    color: #2b2c36;
}

#engranaje{
    width: 220px;
    border-radius: 3%;
}

a {
    text-decoration: none;
    color: #222549;
}

a:hover {
    padding: 6px;
    border-radius: 50%;
    background-color: #dbdbdb;
}

.barra{
    background-color: #5C469C;
}

.svg img{
    width: 25px;
    margin: 10px;
}

ul {
    list-style-type: none;
}